@font-face {
    src: url(../fonts/OLDENGL.TTF);
    font-family: Old English;
  }
  
  *{
    font-family: Georgia, 'Times New Roman', Times, serif;
  } 
  
  .disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  }
  
  html {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
  }
  
  body {
      font-size: 17px;
      line-height: 1.6;
      background-color: white;
      min-height: 100vh;
      padding: 0;
      margin: 0;
  }
  
  .container {
    min-height: 100vh;
    display: grid;
    justify-items: center;
    grid-template-rows: 120px auto 100px;
    grid-template-areas: 
    "projectTitle"
    "books"
    "footer";
  }
  
  .projectTitle {grid-area: projectTitle;}
  
  .books {grid-area: books;}
  
  .footer {grid-area: footer;}
  
  
  /* PROJECT TITLE */
  .projectTitle {
    font-family: Old English;
    font-size: 70px;
    padding: 0;
    margin: auto;
  }
  
  /* BOOKS */
  .books {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .book {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 297px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    margin: 25px 10px;
    border: 1.5px solid black;
    transition: all 0.3s ease;
  }
  
  .book:hover {
    transform: scale(1.1);
    background: black;
    color: white;
  }
  
  .book .title {
    flex: 2;
    font-size: 27px;
    margin: 7px;
  }
  
  .book .author { 
    flex: 2;
    margin: 0px 5px;
  }
  
  .book .pages { 
    flex: 0.5;
    margin: 0px 5px;
  }
  
  .book .read { 
    flex: 0.5;
    margin: 0px 5px;
  }
  
  .book .optionBar {
    position: absolute;
    width: 100%;
    display: flex;
    top: 0;
    transition: all 0.3s ease;
    opacity: 0;
  }
  
  .book:hover .optionBar {
    transform: translateY(-1.8em);
    color: black;
    opacity: 1;
  }
  
  .book .optionBar .toggle {
    margin-right: 70px;
    flex: 4;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .book:hover .optionBar .toggle:hover {
    transform: scale(1.1);
    color: black;
    opacity: 1;
  }
  
  .book .optionBar .delete {
    flex: 1;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .book:hover .optionBar .delete:hover {
    transform: scale(1.3);
    color: black;
    opacity: 1;
  }
  
  .bookAddCard {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  .book .addCard {
    font-size: 70px;
  }
  
  /* FOOTER */ 
  .footer {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;
  }
  
  .footer p {
    font-weight: 500;
    font-size: 25px;
  }
  
  .footer img {
    transition: all 0.3s ease;
  }
  
  .footer img:hover {
    transform: scale(1.1);
  }
  
  /* MODAL */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
  }
  
  .modalContent { 
    position: absolute;
    background-color: white;
    margin: auto;
    padding: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border: 1.5px solid black;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  }
  
  .closeBtn {
    line-height: 0.7em ; 
    color:black;
    float: right;
    font-size: 40px;
    margin: 15px;
    transition: all 0.3s ease;
  }
  
  .closeBtn:hover, .closeBtn:focus {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .form-container {
    position: relative;
    width: 90%;
    height: 50%;
    overflow: hidden;
    margin: 20px;
  }
  
  .input-container {
    width: 100%;
    height: 100%;
    color: black;
    padding-top: 20px;
    border: none;
    outline: none;
    font-size: 25px;
  }
  
  .label-container {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-size: 20px;
    border-bottom: 0.5px solid gray;
  }
  
  .label-container::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid black;
    transform: translateX(-101%);
    transition: all 0.3s ease;
  }
  
  .span-container {
    position: absolute;
    bottom: 1px;
    left: 0px;
    transition: all 0.3s ease;
  }
  
  .input-container:focus + .label-container .span-container, 
  .input-container:valid + .label-container .span-container{
    transform: translateY(-100%);
    left: 0px;
    font-size: 16px;
    color: gray;
  }
  
  .input-container:focus + .label-container::after, 
  .input-container:valid + .label-container::after {
    transform: translateX(0%);
  }
  
  .read-container {
    margin: 20px;
    margin-top: 40px;
    font-size: 20px;
  }
  
  #read-input {
    margin: 7px;
    transform: scale(1.5);
    cursor: pointer;
  }
  
  #pages-input {
    margin-bottom: 2px;
  }
  
  #pages-input::-webkit-outer-spin-button,
  #pages-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  .submit-container {
    text-align: center;
    margin: 20px;
  }
  
  .submit-button {
    font-size: 20px;
    color: black;
    text-align: center;
    background: white;
    border: 1.5px solid black;
    padding: 0.5em 1em;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .submit-button:hover {
  transform: scale(1.1);
  background: black;
  color: white;
  }